/* BUTTONS */

.btn-primary {
	background-color: #3e8564;
	color: white;
	padding: 5px 15px;
	border-radius: 40px;
}
.btn-primary:hover {
	background-color: #024031;

	transition: background-color 0.5s ease-out;
}

.btn-secondary {
	background-color: #3e8564;
	color: white;
	padding: 5px 15px;
	border-radius: 40px;
}
.btn-secondary:hover {
	background-color: #024031;
	transition: background-color 0.5s ease-out;
}
