/* NAVIGATION */

nav li {
	text-decoration: none;
	list-style: none;
	display: inline;
}
nav {
	background-color: white;
	padding: 5px;
}
.navigation-button:hover {
	text-decoration: underline;
	text-decoration-color: grey;
}
.navigation-button {
	padding: 5px 15px;
}
.activepage {
	text-decoration: underline;
}
