/* NAVIGATION */

nav li {
	text-decoration: none;
	list-style: none;
	display: inline;
	justify-content: space-evenly;
}
nav {
	background-color: white;
	padding: 5px;
	justify-content: center;
	display: flex;
}
.navigation-button:hover {
	text-decoration: underline;
	text-decoration-color: grey;
}
.navigation-button {
	margin: 0px 80px;
}
.activepage {
	text-decoration: underline;
	margin: 0px 80px;
}
nav ul {
	padding-left: 0px;
}
