@import url("https://use.typekit.net/vss4uaj.css");
/* TYPOGRAPHY */

h1 {
	font-family: "canto-brush", serif;
	font-weight: 700;
	font-style: normal;
	text-align: center;
	color: white;
	background-color: #024031;
}

h2 {
	font-family: "canto-brush", serif;
	font-weight: 700;
	font-style: normal;
	color: #3e8564;
}

h3 {
	font-family: "canto-brush", serif;
	font-weight: 700;
	font-style: normal;
	color: white;
	background-color: #024031;
}

p {
	font-family: "open-sans", sans-serif;
	font-weight: 400;
	font-style: normal;
	color: black;
}

a {
	font-family: "open-sans", sans-serif;
	font-weight: 400;
	font-style: normal;
	color: black;
	text-decoration: none;
}
li {
	font-family: "open-sans", sans-serif;
	font-weight: 400;
	font-style: normal;
	color: black;
}
.slogan {
	font-family: "open-sans", sans-serif;
	font-weight: 600;
	font-style: italic;
}
