/* BASE LAYOUT FLEXBOX */

body {
	margin: 0px;
	background-color: #707e67;
	height: 2658.6375px;
}
.header {
	padding: 0px;
}
h1 {
	padding-top: 1%;
	padding-left: 2%;
}
h2 {
	font-size: 3.5svw;
}
p {
	margin-bottom: 0;
	text-align: right;
	font-size: 2.4vw;
}
h6 {
	text-align: end;
	color: #808b76;
	font-family: "omnes-pro", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.5vw;
	margin: 1vh 0vh;
}
.ghost-image {
	height: 70vh;
}
.WIW-div1 {
	margin: 0 auto 6% auto;
	text-align: center;
	width: 90%;
	display: flex;
}
.WIW-kolommen {
	width: 100%;
	display: flex;
	padding-top: 5vh;
	justify-content: space-between;
}
.WIW-div1-titel {
	width: 25%;
}
.WIW-div1-kolom1,
.WIW-div1-kolom2 {
	width: 40%;
}
.WIW-div1-kolom1 {
	margin-left: 6vw;
}
.name {
	border-bottom: solid #000;
}

.background {
	width: 100%;
	z-index: -3;
	position: absolute;
}
.footer {
	width: 100%;
	z-index: -1;
	position: absolute;
}
a p:hover {
	color: #da593c;
}
.div-contact p {
	font-size: 20px;
}

@media screen and (max-width: 480px) {
}
