/* BASE LAYOUT FLEXBOX */
@media screen and (max-width: 1920px) {
	body {
		margin: 0px;
		background-color: #707e67;
		height: 2658.6375px;
	}
	.header {
		padding: 0px;
	}
	h1 {
		padding-top: 1%;
		padding-left: 2%;
	}
	.home-div1 {
		padding: 2% 5% 10% 5%;
		height: 25%;
		display: flex;
		justify-content: space-between;
	}
	.home-div1-text {
		padding-top: 10%;
		width: 60%;
	}
	.home-div1-image {
		width: 70%;
		padding-top: 1%;
		padding-right: 5%;
		align-items: right;
		z-index: -2;
	}
	.home-div1-image img {
		width: 90%;
		padding-left: 17.5%;
	}
	.home-div2 {
		padding: 7.5% 5% 5% 10px;
		display: flex;
		height: 25%;
		justify-content: space-between;
	}
	.home-div2-text {
		width: 45%;
		padding-left: 10%;
		padding-top: 5%;
	}
	.home-div2-text li {
		margin-bottom: 4%;
	}
	.home-div2-image {
		width: 60%;
	}
	.home-div3 {
		padding: 2.5% 5% 1.25% 13%;
		height: 25.5%;
		display: flex;
		justify-content: space-between;
	}
	.home-div3-text {
		width: 32.5%;
		padding-top: 5%;
	}
	.home-div3-text li {
		margin-bottom: 5%;
	}
	.home-div3-image {
		width: 62.5%;
	}

	.background {
		width: 98%;

		z-index: -3;
		position: absolute;
	}
	.footer {
		width: 100%;
		z-index: -1;
		position: absolute;
	}
	svg {
		height: 400px;
		z-index: -2;
		position: absolute;
	}
}

@media screen and (max-width: 1536px) {
	body {
		margin: 0px;
		background-color: #707e67;
		height: 2658.6375px;
	}
	.header {
		padding: 0px;
	}
	h1 {
		padding-top: 1%;
		padding-left: 2%;
	}
	.home-div1 {
		padding: 2% 5% 10% 5%;
		height: 20%;
		display: flex;
		justify-content: space-between;
	}
	.home-div1-text {
		padding-top: 0%;
		width: 60%;
	}
	.home-div1-image {
		width: 70%;
		padding-top: 1%;
		padding-right: 5%;
		align-items: right;
		z-index: -2;
	}
	.home-div1-image img {
		width: 90%;
		padding-left: 17.5%;
	}
	.home-div2 {
		padding: 5% 5% 5% 10px;

		display: flex;
		height: 20%;
		justify-content: space-between;
	}
	.home-div2-text {
		width: 45%;
		padding-left: 10%;
	}
	.home-div2-text li {
		margin-bottom: 4%;
	}
	.home-div2-image {
		width: 60%;
	}
	.home-div3 {
		padding: 1% 5% 1.25% 13%;
		height: 20%;
		display: flex;
		justify-content: space-between;
	}
	.home-div3-text {
		width: 32.5%;
	}
	.home-div3-text li {
		margin-bottom: 5%;
	}
	.home-div3-image {
		width: 62.5%;
	}
	.home-div4 {
		padding: 0% 5% 0% 0%;
		height: 15%;
		width: 90%;

		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}
	.home-div4-formulier {
		width: 80%;
		padding-top: 15%;
		padding-left: 5%;
		display: flex;
		margin-left: 10%;

		justify-content: space-between;
	}
	.home-div4-formulier input {
		color: white;
		background-color: #7b8874;
		border-radius: 7.5px;
		border: none;
		height: 7.5%;
		width: 130%;
	}
	.formulier-info {
		padding-top: 0.5%;
		margin-right: -5%;
	}
	.formulier-info li {
		text-align: right;
		margin-bottom: 95%;
		color: white;
	}
	.formulier-info-input li {
		margin-bottom: 37%;
		color: white;
	}
	.formulier-info-input {
		padding-top: 0.5%;
	}
	.formulier-info2 p {
		color: white;
		text-align: right;
		margin-right: -85%;
	}
	.formulier-info-input2 {
		padding-top: 1.5%;
		width: 50%;
		display: flex;
		flex-direction: column;
	}
	.formulier-info-input2 textarea {
		height: 60%;
		width: 100%;
		margin-bottom: 3%;
		color: white;
		background-color: #7b8874;
		border-radius: 5px;
		resize: none;
	}

	.background {
		width: 98%;
		z-index: -3;
		position: absolute;
	}
	.footer {
		width: 100%;
		z-index: -1;
		position: absolute;
	}
	svg {
		height: 400px;
		z-index: -2;
		position: absolute;
	}
}
@media screen and (max-width: 1440px) {
	body {
		margin: 0px;
		background-color: #707e67;
		height: 2658.6375px;
	}
	.header {
		padding: 0px;
	}
	h1 {
		padding-top: 0%;
		padding-left: 2%;
	}
	.home-div1 {
		padding: 1% 5% 3% 5%;
		height: 20%;
		display: flex;
		justify-content: space-between;
	}
	.home-div1-text {
		padding-top: 0%;
		width: 60%;
	}
	.home-div1-image {
		width: 70%;
		padding-top: 1%;
		padding-right: 5%;
		align-items: right;
		z-index: -2;
	}
	.home-div1-image img {
		width: 90%;
		padding-left: 17.5%;
	}
	.home-div2 {
		padding: 10% 5% 5% 10px;

		display: flex;
		height: 20%;
		justify-content: space-between;
	}
	.home-div2-text {
		width: 45%;
		padding-left: 10%;
		padding-top: 0%;
	}
	.home-div2-text li {
		margin-bottom: 4%;
	}
	.home-div2-image {
		width: 60%;
	}
	.home-div3 {
		padding: 0% 5% 1.25% 13%;
		height: 18%;
		display: flex;
		justify-content: space-between;
	}
	.home-div3-text {
		width: 32.5%;
		padding-top: 2%;
	}
	.home-div3-text li {
		margin-bottom: 5%;
	}
	.home-div3-image {
		width: 62.5%;
	}
	.home-div4 {
		padding: 0% 5% 0% 0%;
		height: 15%;
		width: 90%;

		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}
	.home-div4-formulier {
		width: 80%;
		padding-top: 30%;
		padding-left: 5%;
		display: flex;
		margin-left: 10%;

		justify-content: space-between;
	}
	.home-div4-formulier input {
		color: white;
		background-color: #7b8874;
		border-radius: 7.5px;
		border: none;
		height: 7.5%;
		width: 130%;
	}
	.formulier-info {
		padding-top: 0.5%;
		margin-right: -5%;
	}
	.formulier-info li {
		text-align: right;
		margin-bottom: 95%;
		color: white;
	}
	.formulier-info-input li {
		margin-bottom: 37%;
		color: white;
	}
	.formulier-info-input {
		padding-top: 0.5%;
	}
	.formulier-info2 p {
		color: white;
		text-align: right;
		margin-right: -85%;
	}
	.formulier-info-input2 {
		padding-top: 1.5%;
		width: 50%;
		display: flex;
		flex-direction: column;
	}
	.formulier-info-input2 textarea {
		height: 60%;
		width: 100%;
		margin-bottom: 3%;
		color: white;
		background-color: #7b8874;
		border-radius: 5px;
		resize: none;
	}

	.background {
		width: 98%;
		z-index: -3;
		position: absolute;
	}
	.footer {
		width: 100%;

		z-index: -1;
		position: absolute;
	}
	svg {
		height: 400px;
		z-index: -2;
		position: absolute;
	}
}
@media screen and (max-width: 1367px) {
	body {
		margin: 0px;
		background-color: #707e67;
		height: 2658.6375px;
	}
	.header {
		padding: 0px;
	}
	h1 {
		padding-top: 0%;
		padding-left: 2%;
	}
	.home-div1 {
		padding: 0% 5% 3% 5%;
		height: 20%;
		display: flex;
		justify-content: space-between;
	}
	.home-div1-text {
		padding-top: 0%;
		width: 60%;
	}
	.home-div1-image {
		width: 70%;
		padding-top: 1%;
		padding-right: 5%;
		align-items: right;
		z-index: -2;
	}
	.home-div1-image img {
		width: 90%;
		padding-left: 17.5%;
	}
	.home-div2 {
		padding: 5% 5% 5% 10px;

		display: flex;
		height: 20%;
		justify-content: space-between;
	}
	.home-div2-text {
		width: 45%;
		padding-left: 10%;
	}
	.home-div2-text li {
		margin-bottom: 4%;
	}
	.home-div2-image {
		width: 60%;
	}
	.home-div3 {
		padding: 0% 5% 1.25% 13%;
		height: 18%;
		display: flex;
		justify-content: space-between;
	}
	.home-div3-text {
		width: 32.5%;
		padding-top: 1%;
	}
	.home-div3-text li {
		margin-bottom: 5%;
	}
	.home-div3-image {
		width: 62.5%;
	}
	.home-div4 {
		padding: 0% 5% 0% 0%;
		height: 15%;
		width: 90%;

		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}
	.home-div4-formulier {
		width: 80%;
		padding-top: 35%;
		padding-left: 5%;
		display: flex;
		margin-left: 10%;

		justify-content: space-between;
	}
	.home-div4-formulier input {
		color: white;
		background-color: #7b8874;
		border-radius: 7.5px;
		border: none;
		height: 7.5%;
		width: 130%;
	}
	.formulier-info {
		padding-top: 0.5%;
		margin-right: -5%;
	}
	.formulier-info li {
		text-align: right;
		margin-bottom: 95%;
		color: white;
	}
	.formulier-info-input li {
		margin-bottom: 37%;
		color: white;
	}
	.formulier-info-input {
		padding-top: 0.5%;
	}
	.formulier-info2 p {
		color: white;
		text-align: right;
		margin-right: -85%;
	}
	.formulier-info-input2 {
		padding-top: 1.5%;
		width: 50%;
		display: flex;
		flex-direction: column;
	}
	.formulier-info-input2 textarea {
		height: 60%;
		width: 100%;
		margin-bottom: 3%;
		color: white;
		background-color: #7b8874;
		border-radius: 5px;
		resize: none;
	}

	.background {
		width: 98%;
		z-index: -3;
		position: absolute;
	}
	.footer {
		width: 100%;
		z-index: -1;
		position: absolute;
	}
	svg {
		height: 400px;
		z-index: -2;
		position: absolute;
	}
}

.missie {
	display: flex;
	padding-top: 50px;
	align-items: center;
}
.missie div {
	flex: 1;
}
.missie-image {
	text-align: center;
}
.missie-image img {
	width: 500px;
}
.missie-text {
	padding-right: 200px;
}
.plantbewustzijn {
	display: flex;
	padding-top: 100px;
	align-items: center;
}
.plantbewustzijn div {
	flex: 1;
}
.plantbewustzijn-image {
	text-align: center;
}
.plantbewustzijn-text {
	margin-bottom: 150px;
	padding-left: 200px;
}
.carriere {
	display: flex;
	padding-top: 100px;
	align-items: center;
}
.carriere div {
	flex: 1;
}
.carriere-image {
	text-align: center;
}
.carriere-text {
	margin-bottom: 150px;
	padding-left: 200px;
}
.boodschap {
	display: flex;
	padding-top: 400px;
	padding-bottom: 300px;
	align-items: center;
}
.boodschap div {
	flex: 1;
}

.boodschap-image img {
	width: 650px;
}
.boodschap-text {
	padding-right: 200px;
}
