/* BASE LAYOUT FLEXBOX */

body {
	margin: 0px;
	background-color: #707e67;
	height: 2658.6375px;
}
.header {
	padding: 0px;
	border-top-right-radius: 23px;
	border-top-left-radius: 20px;
	border-left: solid #3e2e14;
	border-right: solid #3e2e14;
	border-top: solid #3e2e14;
}
h1 {
	padding-top: 1%;
	padding-left: 2%;
}
.home-div1 {
	padding: 2% 45px 10% 5%;
	height: 20%;
	display: flex;
	justify-content: space-between;
	border-left: solid;
	border-right: solid;
	border-left-color: #3e2e14;
	border-right-color: #3e2e14;
}
.home-div1-text {
	padding-top: 0%;
	width: 60%;
}
.home-div1-image {
	width: 70%;
	padding-top: 10px;
	padding-right: 5%;
	align-items: right;
	z-index: -2;
}
.home-div1-image img {
	width: 90%;
	padding-left: 17.5%;
}
.home-div2 {
	padding: 5% 45px 5% 10px;

	display: flex;
	height: 20%;
	justify-content: space-between;
	border-left: solid;
	border-right: solid;
	border-left-color: #3e2e14;
	border-right-color: #3e2e14;
}
.home-div2-text {
	width: 45%;
	padding-left: 10%;
}
.home-div2-text li {
	margin-bottom: 17.5px;
}
.home-div2-image {
	width: 60%;
}
.home-div3 {
	padding: 1% 45px 15px 13%;
	height: 20%;
	display: flex;
	justify-content: space-between;
	border-left: solid;
	border-right: solid;
	border-left-color: #3e2e14;
	border-right-color: #3e2e14;
}
.home-div3-text {
	width: 32.5%;
}
.home-div3-text li {
	margin-bottom: 15px;
}
.home-div3-image {
	width: 62.5%;
}
.home-div4 {
	padding: 0% 45px 30px 0%;
	height: 15%;
	width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.home-div4-formulier {
	width: 50%;
	padding-top: 15%;
	padding-left: 5%;
	display: flex;
	justify-content: space-between;
}
.home-div4-formulier input {
	color: white;
	background-color: #7b8874;
	border-radius: 10px;
}
.formulier-info {
	padding-top: 5px;
}
.formulier-info li {
	margin-bottom: 25px;
	color: white;
}
.formulier-info-input li {
	margin-bottom: 25px;
	color: white;
}
.formulier-info2 p {
	color: white;
}
.formulier-info-input2 {
	padding-top: 15px;
}
.formulier-info-input2 input {
	height: 80%;
}
.kader {
	margin: 15px 15px 25px 15px;
	border: none;
	border-radius: 25px;

	border-color: #707e67;
	z-index: -2;
	height: 103.25%;
}
.background {
	width: 97.75%;
	border-radius: 22.5px;
	padding-right: 0px;
	z-index: -3;
	position: absolute;
}
.footer {
	margin: -20px;
	width: 100%;
	border-radius: 22.5px;
	padding-right: 0px;
	z-index: -1;
	position: absolute;
}
svg {
	height: 400px;
	z-index: -2;
	position: absolute;
}

.missie {
	display: flex;
	padding-top: 50px;
	align-items: center;
	border-left: solid;
	border-right: solid;
	border-left-color: #3e2e14;
	border-right-color: #3e2e14;
}
.missie div {
	flex: 1;
}
.missie-image {
	text-align: center;
}
.missie-image img {
	width: 500px;
}
.missie-text {
	padding-right: 200px;
}
.plantbewustzijn {
	display: flex;
	padding-top: 100px;
	align-items: center;
	border-left: solid;
	border-right: solid;
	border-left-color: #3e2e14;
	border-right-color: #3e2e14;
}
.plantbewustzijn div {
	flex: 1;
}
.plantbewustzijn-image {
	text-align: center;
}
.plantbewustzijn-text {
	margin-bottom: 150px;
	padding-left: 200px;
}
.carriere {
	display: flex;
	padding-top: 100px;
	align-items: center;
	border-left: solid;
	border-right: solid;
	border-left-color: #3e2e14;
	border-right-color: #3e2e14;
}
.carriere div {
	flex: 1;
}
.carriere-image {
	text-align: center;
}
.carriere-text {
	margin-bottom: 150px;
	padding-left: 200px;
}
.boodschap {
	display: flex;
	padding-top: 400px;
	padding-bottom: 300px;
	align-items: center;
	border-left: solid;
	border-right: solid;
	border-left-color: #3e2e14;
	border-right-color: #3e2e14;
}
.boodschap div {
	flex: 1;
}

.boodschap-image img {
	width: 650px;
}
.boodschap-text {
	padding-right: 200px;
}
