/* BASE LAYOUT FLEXBOX */
.mobileBackground {
	display: none;
}
.mobile {
	display: none;
}
body {
	margin: 0px;
	background-color: #707e67;
}
.header {
	padding: 0px;
}

h1 {
	padding-top: 1%;
	padding-left: 2%;
}

svg {
	height: 400px;
	z-index: -2;
	position: absolute;
}
.nav-image {
	width: 100%;
}

.missie {
	display: flex;
	padding-top: 0vw;
	align-items: center;
}
.missie div {
	flex: 1;
}
.missie-image {
	text-align: center;
}
.missie-image img {
	width: 28.3vw;
	padding-left: 5.9vw;
}
.missie-text {
	text-align: left;
	padding-left: 1vw;
}
.plantbewustzijn {
	display: flex;
	align-items: center;
}
.plantbewustzijn div {
	flex: 1;
}
.plantbewustzijn-image {
	text-align: center;
	width: 30vw;
	padding-left: -10vw;
}
.plantbewustzijn-image img {
	width: 28.3vw;
	padding-right: 13vw;
	padding-top: 5vw;
}
.plantbewustzijn-text {
	text-align: left;
	padding-left: 13.9vw;
	padding-top: 10vw;
}

.boodschap {
	justify-content: space-between;
	display: flex;
	padding-top: 1vw;
	padding-bottom: 10vw;
	align-items: center;
}

.boodschap-image img {
	padding-top: 7vw;
	width: 49.3vw;
}
.boodschap-text {
	text-align: left;
	padding-right: 7.2vw;
}
.mobile-container {
	display: none;
}
@media screen and (max-width: 768px) {
	.mobile-container {
		display: block;
	}
	.mobile {
		display: block;
	}
	.desktop {
		display: none;
	}

	.header {
		display: none;
	}

	.missie,
	.plantbewustzijn,
	.carriere,
	.boodschap {
		flex-wrap: wrap;
	}
	.missie-text,
	.plantbewustzijn-text,
	.boodschap-text {
		padding: 0vw 10vw;
		width: 80vw;
	}

	.missie-image img {
		width: 100vw;
		margin-top: 27vw;
		padding-left: 0vw;
	}
	.plantbewustzijn {
		padding-top: 25vw;
	}
	.plantbewustzijn-text {
		order: 2;
	}
	.plantbewustzijn-image {
		text-align: center;
		width: 80vw;
	}
	.plantbewustzijn-image img {
		width: 100vw;
		padding-right: 0vw;
		padding-left: 0vw;
	}

	.boodschap-image img {
		padding-top: 15vw;
		width: 100vw;
	}
	.boodschap-text {
		order: 2;
		text-align: left;
	}
	.boodschap-text {
		order: 2;
		text-align: left;
	}
	a.btn-primary {
		text-align: center;
	}
	.name {
		margin-left: auto;
	}
	h2 {
		text-align: left;
		margin: 6vw 0px 0px 0px;
	}
	h6 {
		font-size: 2vw;
	}
	.WIW-div1-kolom2 {
		margin-bottom: 5vw;
	}
	svg {
		width: 100%;
		height: 100%;
	}
}

nav li:nth-child(4)::marker {
	color: #486d48;
}
