body {
	margin: 0px;
	background-color: #707e67;
}
.header {
	padding: 0vw;
}
.mobile {
	display: none;
}
svg {
	height: 400px;
	z-index: -2;
	position: absolute;
}
.empathy {
	display: flex;
	padding-top: 3vw;
	align-items: center;
	justify-content: space-around;
	height: 30vw;
}
.empathy-image {
	width: 41.8vw;
	padding-left: 8vw;
}
.empathy-image img {
	width: 100%;
}
.empathy-text {
	padding-left: 9.7vw;
	width: 33%;
	padding-right: 7.6vw;
}
.science {
	padding: 8vw 0vw 7vw 0vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.science-image {
	width: 42vw;
}
.science-image img {
	width: 42vw;
}
.science-text {
	width: 33.1vw;
	padding: 0vw 9vw 0vw 0vw;
}
.philosophy {
	display: flex;
	justify-content: space-between;
	height: 40vw;
}

.philosophy-image {
	width: 42vw;
	padding-top: 3vw;
}
.philosophy-image img {
	width: 100%;
}
.philosophy-text {
	padding-left: 13.8vw;
	width: 34vw;
}
.durability {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 3vw 0vw 5vw 0vw;
}
.durability-image {
	width: 42vw;
}
.durability-image img {
	width: 100%;
}
.durability-text {
	width: 35vw;
	padding-right: 7vw;
}
.gardening {
	display: flex;
	justify-content: space-between;
	height: 37.5vw;
	padding-top: 2.5vw;
	margin-bottom: 2.5vw;
}
.gardening-image {
	width: 42vw;
}
.gardening-image img {
	width: 100%;
}
.gardening-text {
	padding-left: 13.9vw;
	padding-top: 1.5vw;
	width: 35vw;
}
@media screen and (max-width: 768px) {
	.desktop {
		display: none;
	}
	.mobile {
		display: inline;
	}
	body {
		margin: 0px;
		background-color: #707e67;
	}
	svg {
		height: 400px;
		z-index: -2;
		position: absolute;
	}
	.empathy {
		display: flex;
		flex-direction: column;
		padding-top: 15vw;
		justify-content: space-between;
		height: 125vw;
		margin-bottom: 25vw;
	}
	.empathy-image {
		width: 100%;
		padding-left: 0vw;
	}
	.empathy-image img {
		width: 100%;
	}
	.empathy-text {
		padding-left: 10vw;
		width: 80vw;
	}

	.science {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 125vw;
		margin-bottom: 27.5vw;
		padding: 0vw;
		padding-top: 2.5vw;
	}
	.science-image {
		width: 100%;
		order: 2;
	}
	.science-image img {
		width: 100%;
	}
	.science-text {
		padding-left: 10vw;
		width: 80vw;
	}

	.philosophy {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 150vw;
		margin-bottom: 20vw;
	}

	.philosophy-image {
		width: 100%;
		padding-top: 0vw;
	}
	.philosophy-image img {
		width: 100%;
	}
	.philosophy-text {
		padding-left: 10vw;
		width: 80%;
	}
	.durability {
		display: flex;
		flex-direction: column;
		padding-top: 10vw;
		justify-content: space-between;
		height: 175vw;
		margin-bottom: 5vw;
	}
	.durability-image {
		width: 100%;
		order: 2;
	}
	.durability-image img {
		width: 100%;
	}
	.durability-text {
		padding-left: 10vw;
		width: 80%;
	}
	.gardening {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-top: 5vw;
		height: 190vw;
	}
	.gardening-image {
		width: 100%;
	}
	.gardening-image img {
		width: 100%;
	}
	.gardening-text {
		padding-left: 10vw;
		width: 80%;
	}
}
nav li:nth-child()::marker {
	color: #486d48;
}
