/* BASE LAYOUT FLEXBOX */
body {
	margin: 0px;
	background-color: #707e67;
}
.header {
	padding: 0px;
}
.ninetyWidth {
	margin: 0 auto 6% auto;
	text-align: center;
	width: 90%;
}
h1 {
	padding-top: 1%;
	padding-left: 2%;
}

.background {
	width: 100%;
	padding-right: 0px;
	z-index: -3;
	position: absolute;
}

svg {
	height: 400px;
	z-index: -2;
	position: absolute;
}
.nav-image {
	width: 100%;
}

.missie {
	display: flex;
	padding-top: 0vw;
	align-items: center;
}
.missie div {
	flex: 1;
}
.missie-image {
	text-align: center;
}
.missie-image img {
	width: 30vw;
}
.missie-text {
	text-align: left;
}
.plantbewustzijn {
	display: flex;
	align-items: center;
}
.plantbewustzijn div {
	flex: 1;
}
.plantbewustzijn-image {
	text-align: center;
	width: 30vw;
	padding-left: -10vw;
}
.plantbewustzijn-image img {
	width: 31vw;
}
.plantbewustzijn-text {
	text-align: left;
	padding-left: 8vw;
	padding-top: 10vw;
}
.carriere {
	display: flex;
	padding-top: 8vw;
	align-items: center;
}

.carriere-video {
	text-align: center;
	border: black solid 0.4vw;
	padding: 14vw 22vw;
	margin-right: 10vw;
}
.carriere-text {
	text-align: left;
}
.boodschap {
	justify-content: space-between;
	display: flex;
	padding-top: 19vw;
	padding-bottom: 10vw;
	align-items: center;
}

.boodschap-image img {
	padding-top: 7vw;
	width: 50vw;
}
.boodschap-text {
	text-align: left;
}
