/* BASE LAYOUT FLEXBOX */
.mobileBackground {
	display: none;
}
.nav-image {
	width: 100%;
}
body {
	margin: 0px;
	background-color: #707e67;
}
.header {
	padding: 0px;
}
h1 {
	padding-top: 1%;
	padding-left: 2%;
}
h2 {
	font-size: 3.5svw;
}
p {
	margin-bottom: 0;
	text-align: right;
	font-size: 2.4vw;
}
h6 {
	text-align: end;
	color: #808b76;
	font-family: "omnes-pro", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.5vw;
	margin: 0.1vw 0vh;
}
.ghost-image {
	height: 38vw;
}
.WIW-div1 {
	margin: 0 auto 6% auto;
	text-align: center;
	width: 90%;
	display: flex;
}
.WIW-kolommen {
	width: 100%;
	display: flex;
	padding-top: 1vw;
	justify-content: space-between;
}
.WIW-div1-titel {
	width: 25%;
}
.WIW-div1-kolom1,
.WIW-div1-kolom2 {
	width: 40%;
}
.WIW-div1-kolom1 {
	margin-left: 6vw;
}
.name {
	border-bottom: solid #000;
}

.background {
	width: 100%;
	z-index: -3;
	position: absolute;
}
.mobileBackground {
	width: 100%;
	z-index: -3;
	position: absolute;
}
.footer {
	width: 100%;
	z-index: -1;
	position: absolute;
}
a p:hover {
	color: #da593c;
}
.div-contact p {
	font-size: 20px;
}
.bottom-div {
	padding-bottom: 2.4vw;
}
.mobile-container {
	display: none;
}
@media screen and (max-width: 768px) {
	.mobile-container {
		display: block;
	}

	.background {
		display: none;
	}
	.mobileBackground {
		display: block;
	}
	.header {
		display: none;
	}
	.ghost-image {
		height: 90vw;
	}
	.WIW-div1 {
		width: 80%;
		flex-wrap: wrap;
	}
	.WIW-kolommen {
		flex-wrap: wrap;
		text-align: right;
	}

	.WIW-div1-titel {
		width: 100%;
	}
	.WIW-div1-kolom1,
	.WIW-div1-kolom2 {
		margin-left: auto;
		width: 100%;
	}
	.name {
		margin-left: auto;
	}
	h2 {
		text-align: left;
		font-size: 7vw;
		margin: 6vw 0px 0px 0px;
	}
	p {
		margin-top: 2vw;
		text-align: right;
		font-size: 6vw;
	}
	h6 {
		font-size: 4vw;
		margin-bottom: 4.8vw;
	}
	.WIW-div1-kolom2 {
		margin-bottom: 5vw;
	}
	svg {
		width: 100%;
		height: 100%;
	}
}

/* Style the navigation menu */
.topnav {
	overflow: hidden;
	position: relative;
	position: absolute;
	width: 100%;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
	display: none;
	background-image: url(../images/navigation-shape.png);
	background-repeat: no-repeat;
	background-position: top right;
	background-size: 45vw 45vw;
	width: 100vw;
	height: 100vh;
	position: static;
}

/* Style navigation menu links */
.topnav a {
	text-align: right;
	color: white;
	padding: 2vw 4vw;
	text-decoration: none;
	font-size: 3.5vw;
	display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
	background-color: transparent;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
	background-color: transparent;
	color: white;
}

/* Style the active link (or home/logo) */
.active {
	background-color: transparent;
	color: white;
}
.invis {
	opacity: 0;
}
