/* BUTTONS */

.btn-primary {
	color: #707e67;
	font-family: "santelia-script", sans-serif;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	padding: 0vw 10vw;
	border-color: #707e67;
	border-width: 2px;
	border-radius: 15px;
	text-decoration: none;
	border-style: solid;
	animation-name: greenisch;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	margin-top: 50px;
}
.btn-primary:hover {
	background-color: #707e67;
	color: white;
	border-color: #707e67;
	transition-timing-function: 1s;
	transition: background-color 0.5s;
	animation-name: greenischfill;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}
.btn-primary2 {
	color: #707e67;
	font-family: "santelia-script", sans-serif;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	padding: 0px 100px;
	border-color: #707e67;
	border-width: 2px;
	border-radius: 15px;
	text-decoration: none;
	border-style: solid;
	animation-name: greenisch;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}
.btn-primary2:hover {
	background-color: #707e67;
	color: #f8dec9;
	border-color: #707e67;
	transition-timing-function: 1s;
	transition: background-color 0.5s;
	animation-name: greenischfill;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}
.btn-secondary {
	color: white;
	text-decoration: none;
	padding: 5px 5px;
	border-color: white;
	border-width: 2px;
	border-radius: 15px;
	text-decoration: none;
	border-style: solid;
	background-color: transparent;
	text-align: center;
	margin-right: 65%;
}
.btn-secondary:hover {
	background-color: #707e67;
	color: #f8dec9;
	border-color: #707e67;
	transition-timing-function: 1s;
	transition: background-color 0.5s;
	animation-name: greenischfill;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}
.btn-tertiare {
	color: #707e67;
	padding: 5px 5px;
	border-color: white;
	border-width: 2px;
	border-radius: 15px;
	text-decoration: none;
	border-style: solid;
	background-color: transparent;
	text-align: center;
	margin-right: 65%;
}
.btn-tertiare:hover {
	background-color: #707e67;
	color: #f8dec9;
	border-color: #707e67;
	transition-timing-function: 1s;
	transition: background-color 0.5s;
	animation-name: greenischfill;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}
@keyframes greenisch {
	0% {
		border-color: #707e67;
	}
	50% {
		border-color: #a1966b;
	}
	100% {
		border-color: #707e67;
	}
}
@keyframes greenischfill {
	0% {
		border-color: #707e67;
		background-color: #707e67;
	}
	50% {
		border-color: #a1966b;
		background-color: #a1966b;
	}
	100% {
		border-color: #707e67;
		background-color: #707e67;
	}
}
@media screen and (max-width: 768px) {
	.btn-secondary {
		padding: 1vw 40vw;
		margin-right: 0vw;
		font-size: 3.5vw;
	}
}
