.div-contact {
	padding: 2% 5% 0% 5%;
	margin-top: 0px;
	height: 30%;
	width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.div-contact-mobile {
	display: none;
}
.div-contact-formulier {
	width: 100%;
	display: flex;
	padding-left: 0.75vw;
}
.div-contact-formulier ul {
	margin-top: 0%;
}
.div-contact-formulier input {
	color: white;
	background-color: #7b8874;
	border-radius: 7.5px;
	border: none;
	height: 7.5%;
	width: 27.5vw;
}
.formulier-info {
	padding-left: 1%;
}
.formulier-info li {
	text-align: right;
	margin-bottom: 8vw;
	color: white;
}

.formulier-info-input ul {
	width: 100%;
}
.formulier-info-input li {
	margin-bottom: 7.5vw;
	color: white;
}
.formulier-info-input {
	width: 35%;
	margin-left: 1.75%;
}

.formulier-info2 label {
	color: white;
	text-align: right;
	font-family: "omnes-pro", sans-serif;
	font-weight: 400;
	font-style: normal;
	list-style: none;
	font-size: 1.25vw;
}
.formulier-info-input2 {
	width: 45vw;
	display: flex;
	flex-direction: column;
	font-family: "omnes-pro", sans-serif;
	font-weight: 400;
	font-style: normal;
	list-style: none;
	font-size: 1.25vw;
	margin-left: 2vw;
}
.formulier-info-input2 textarea {
	height: 60%;
	width: 94%;
	margin-bottom: 3%;
	color: white;
	background-color: #7b8874;
	border-radius: 5px;
	resize: none;
	color: white;
	font-family: "omnes-pro", sans-serif;
	font-weight: 400;
	font-style: normal;
}
.formulier-info-input2 input {
	color: white;
	background-color: #7b8874;
	border-radius: 7.5px;
	border: none;
	height: 7.5%;
	width: 95%;
}
.contact {
	margin: 5vw 0vw 5vw 1.25vw;
}
@media screen and (max-width: 768px) {
	.div-contact-mobile {
		padding: 0vw 10vw 30vw 10vw;
		margin-top: 0px;
		height: 100vw;
		width: 80vw;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.div-contact {
		display: none;
	}
	.contact {
		margin: 15vw 0vw 5vw 1.25vw;
	}
	.div-contact-formulier {
		display: flex;
		margin-left: 0%;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		color: white;
		text-align: left;
		font-family: "omnes-pro", sans-serif;
		font-weight: 400;
		font-style: normal;
		list-style: none;
		font-size: 5vw;
	}
	.formulier-info-input1 {
		display: flex;
		flex-direction: column;
		margin-bottom: 5vw;
	}
	.formulier-info1 {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-bottom: 5vw;
	}
	.formulier-info4 {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-bottom: 5vw;
	}
	.formulier-info3 {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-bottom: 5vw;
	}
	.div-contact-formulier input {
		height: 5vw;
		width: 99%;
	}
	.formulier-info-input1 textarea {
		height: 50vw;
		width: 99%;
		margin-bottom: 3%;
		color: white;
		background-color: #7b8874;
		border-radius: 5px;
		resize: none;
	}
}
