.home-div4 {
	padding: 2% 5% 0% 5%;
	margin-top: 0px;
	height: 30%;
	width: 75%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.home-div4-formulier {
	width: 100%;
	padding-top: 20%;
	padding-left: 5%;
	display: flex;
	margin-left: 10%;
	justify-content: space-between;
}
.home-div4-formulier input {
	color: white;
	background-color: #7b8874;
	border-radius: 7.5px;
	border: none;
	height: 7.5%;
	width: 130%;
}
.formulier-info {
	padding-top: 0.5%;
	margin-right: -5%;
}
.formulier-info li {
	text-align: right;
	margin-bottom: 95%;
	color: white;
}
.formulier-info-input li {
	margin-bottom: 37%;
	color: white;
}
.formulier-info-input {
	padding-top: 0.5%;
}
.formulier-info2 p {
	color: white;
	text-align: right;
	margin-right: -85%;
}
.formulier-info-input2 {
	padding-top: 1.5%;
	width: 50%;
	display: flex;
	flex-direction: column;
}
.formulier-info-input2 textarea {
	height: 60%;
	width: 100%;
	margin-bottom: 3%;
	color: white;
	background-color: #7b8874;
	border-radius: 5px;
	resize: none;
}
@media screen and (max-width: 1536px) {
	.home-div4-formulier {
		padding-top: 25%;
	}
	.home-div4 {
		padding-top: 5%;
		padding-left: 0%;
	}
}
@media screen and (max-width: 1367px) {
	.home-div4-formulier {
		padding-top: 20%;
	}
	.home-div4 {
		padding: 0%;
		height: 20%;
	}
}
@media screen and (max-width: 1281) {
	.home-div4-formulier {
	}
	.home-div4 {
		padding: 15%;
		height: 20%;
	}
}
