@import url("https://use.typekit.net/jaj4nzg.css");
/* NAVIGATION */

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
h1 {
	margin: 0px;
}
nav {
	text-align: right;
	list-style-position: inside;
	direction: rtl;

	padding: 10px 25px 0px 40px;
	border-top-right-radius: 23px;
}
nav li:first-child {
	list-style: circle;
}
nav li {
	list-style: disc;
	margin-bottom: 17.5px;
	font-size: 25px;
}
.activepage {
	color: #486d48;
	text-decoration: underline;
}

.navigation-button {
	color: white;
}
.navigation-button:hover {
	color: #f8dec9;
	text-decoration-thickness: 5px;
	text-decoration: underline;
}
nav li::marker {
	color: white;
}
nav li:first-child::marker {
	color: #707e67;
}
nav a {
	font-family: "omnes-pro", sans-serif;
	font-weight: 300;
	font-style: normal;
}
.nav-image {
	width: 97.75%;
	border-radius: 27.5px;
	padding-right: 0px;
	z-index: -1;
	position: absolute;
	padding-top: 0%;
}
