@import url("https://use.typekit.net/jaj4nzg.css");
/* NAVIGATION */

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}
h1 {
	margin: 0px;
	font-size: 7.5vw;
	padding-top: 1vw;
	padding-left: 5vw;
}
nav {
	text-align: right;
	list-style-position: inside;
	direction: rtl;

	padding: 1vw 1.5vw 0vw 10vw;
}

nav li {
	list-style: disc;
	margin-bottom: 1.25vw;
	font-size: 1.5vw;
}
nav li::marker {
	color: white;
}
.activepage {
	color: #486d48;
	text-decoration: underline;
}
.activepage::marker {
	color: #486d48;
}

.navigation-button {
	color: white;
}
.navigation-button:hover {
	color: #f8dec9;
	text-decoration-thickness: 5px;
	text-decoration: underline;
}
nav li::marker {
	color: white;
}
nav li:first-child::marker {
	color: #707e67;
}
nav a {
	font-family: "omnes-pro", sans-serif;
	font-weight: 300;
	font-style: normal;
}
.nav-image {
	width: 100.3%;
	z-index: -1;
	position: absolute;
	margin-top: -0.2vw;
	margin-left: -0.2vw;
}
.mobile-container {
	display: none;
}
@media screen and (max-width: 1080px) {
	.nav-image {
		width: 100%;
	}
}
@media screen and (max-width: 768px) {
	.header {
		display: none;
	}
	.nav-image {
		display: none;
	}
	.mobile-container {
		display: flex;
	}
	h1 {
		font-size: 10vw;
		position: absolute;
	}
}
/* Style the navigation menu */
.topnav {
	overflow: hidden;
	position: relative;
	position: absolute;
	width: 100%;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
	display: none;
	background-image: url(../images/navigation-shape.png);
	background-repeat: no-repeat;
	background-position: top right;
	background-size: 45vw 45vw;
	width: 100vw;
	height: 100vh;
	position: relative;
}

/* Style navigation menu links */
.topnav a {
	text-align: right;
	color: white;
	padding: 2vw 4vw;
	text-decoration: none;
	font-size: 3.5vw;
	display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
	background-color: transparent;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	font-size: 6.5vw;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
	background-color: transparent;
	color: white;
}

/* Style the active link (or home/logo) */
.active {
	background-color: transparent;
	color: white;
}
.invis {
	opacity: 0;
}
